<h1>Listing dependent_representatives</h1>

<table>
  <tr>
  </tr>

<% @dependent_representatives.each do |dependent_representative| %>
  <tr>
    <td><%= link_to 'Show', dependent_representative %></td>
    <td><%= link_to 'Edit', edit_dependent_representative_path(dependent_representative) %></td>
    <td><%= link_to 'Destroy', dependent_representative, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New dependent_representative', new_dependent_representative_path %>