<h1>Editing solicitation_item</h1>

<% form_for(@solicitation_item) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @solicitation_item %> |
<%= link_to 'Back', solicitation_items_path %>