<h1>Listing solicitation_items</h1>

<table>
  <tr>
  </tr>

<% @solicitation_items.each do |solicitation_item| %>
  <tr>
    <td><%= link_to 'Show', solicitation_item %></td>
    <td><%= link_to 'Edit', edit_solicitation_item_path(solicitation_item) %></td>
    <td><%= link_to 'Destroy', solicitation_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New solicitation_item', new_solicitation_item_path %>