<h1>New solicitation_item</h1>

<% form_for(@solicitation_item) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', solicitation_items_path %>