<h1>New carrier_price_list</h1>

<% form_for(@carrier_price_list) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', carrier_price_lists_path %>